// COLORS TODO: PLEASE KEEP THIS FILE ALPHABETICAL
// COLORS TODO: ALL CHANGES MUST BE DONE ON DEVELOP BRANCH!!!
$BLACK: #000000;
$BLUE_1: #64b5f6;
$BLUE_2: #89c5f4;
$BLUE_3: #b3e5fc;
$BLUE_4: #3aa9eb;
$BLUE_2: #3aa9eb;
$BLUE_3: #086dad;
$BLUE_5: #82c6f1;
$BLUE_6: #2055a6;
$BLUE_7: #086dad;
$BLUE_8: #12a5ed;
$BLUE_FOCUS: #0067f4;
$BLUE_FOCUS_2: #3c86ec;
$BLUEBERRY: #4285f4;
$ROYAL_BLUE: #3367d6;
$SAPPHIRE_BLUE: #1957cf;
$BROWN: #704c14;
$LIGHT_BROWN: #c99200;
$LAVENDER_BLUE: #c5d9fa;
$BURNET_KITTEN: #93969a;
$CARROT: #f16d36;
$CARROT2: #e46030;
$CARROT3: #cb5201;
$CARROT4: #c64e1c;
$CORAL: #ff8758;
$CORN: #ffef63;
$CORRECT: #a4d23b;
$CORRECT_MESSAGE: #5a8001;
$CRAYOLA: #1464ff;
$DARK_BLUE_1: #1b4577;
$DARK_BLUE_2: #0953aa;
$DARK_CYAN: #0c576c;
$DARK_CYAN_LIGHT: #137996;
$DARK_TEAL: #008787;
$DARK_YELLOW: #f7b70c;
$DARK_YELLOW1: #fd9827;
$DARK_YELLOW2: #f7b72c;
$DARK_YELLOW3: #fbcd52;
$DARK_YELLOW4: #dca035;
$DARK_BROWN: #724b1b;
$DARK_GRAYISH_BLUE: #212529;
$DEFAULT_GREY: #d8d8d8;
$DESERT_SAND: #fef8ed;
$DEEP_LAGOON: #006666;
$DARK_LAGOON: #004444;
$DIVIDER_PURPLE: #8298ed;
$LAVENDER_MIST: #eaeaf8;
$LIGHT_PURPLE: #ececfa;
$LIGHT_LAGOON: #127e9b;
$LAGOON_HOVER: #0c5a6f;
$LAGOON_HOVER2: #0c576c;
$BURNT_YELLOW: #fcdb55;
$CRAYOLAS_YELLOW: #ffe889;
$DROPDOWN_HOVER: #ccf5f5;
$DARK_GRAY: #909396;
$DARK_GRAY2: #0c576c;
$DARK_GRAY3: #737f8b;
$DARK_GREEN: #61a319;
$DARK_STONE: #dbebeb;
$EARLY_DAWN: #fff5db;
$EGGSHELL: #efefef;
$BLUE_EGGSHELL: #eff7f7;
$ERROR_MESSAGE: #ce3e21;
$ERROR_MESSAGE_BACKGROUND: #fdf7f7;
$ERROR_MESSAGE_BACKGROUND_HOVER: #ffeaea;
$FAMILY_GREEN: #006d3f;
$FISH_MILK: #f3f3f3;
$FUCHSIA: #ec407a;
$SNOW: #fafafa;
$SNOW_DARK: #eff7f7;
$FORGOTTEN_SECRET_HOVER: #007171;
$GRAY: #e7e7e7;
$GRAY2: #757575;
$GRAY3: #e6e6e6;
$GRAY4: #979797;
$GRAY5: #999;
$GRAY6: #8399a7;
$GRAY7: #cccccc;
$HONEYDEW: #f0fff0;
$YELLOW_GRAY: #c1ab5b;
$INDICATOR_GRAY: #bdc0c3;
$ESSENTIALS_BLUE: #275873;
$ESSENTIALS_BLUE2: #1a3659;
$ESSENTIALS_EGGSHELL: #fff8ed;
$ESSENTIALS_YELLOW: #ffdf47;
$ESSENTIALS_YELLOW2: #ffd300;
$ESSENTIALS_QUOTE: #ffd7e1;
$INCORRECT: #ca3c00;
$INFORMATIONAL: #fcf8e4;
$KITTERN_WHIKERS: #ccc;
$WHITE_NECTAR: #f8efd6;
$LIGHT: #fff9eb;
$LIGHT_BACKGROUND: #edfdfd;
$LIGHT_BLUE: #e8f4ff;
$LIGHT_BLUE1: #b3e5fc;
$LIGHT_BLUE2: #89c5f4;
$LIGHT_BLUE5: #e8f4fd;
$LIGHT_GRAY: #e8e8e8;
$LIGHT_GRAY2: #dddddd;
$LIGHT_GRAY3: #757575;
$LIGHT_GRAY4: #666;
$LIGHT_GRAY5: #c3c3c3;
$LIGHT_GRAY6: #f1f1f1;
$LIGHT_YELLOW: #fee9ad;
$LIGHT_YELLOW_2: #fffecc;
$LIGHT_YELLOW_3: #f7ecd2;
$LIGHT_YELLOW_4: #fff9ec;
$LIGHT_YELLOW_5: #fee9bd;
$LIGHT_YELLOW_6: #fff8db;
$LIGHT_ORANGE: #ffde7c;
$MERMAID_TRESURE: #009999;
$MONTEGO_BAY: #66ffff;
$MONTE_CARLO: #87cfcf;
$NOTIFICATIONS: #ca3415;
$PALE_PINK: #ffd6d6;
$PASTEL_MINT: #d7ffd7;
$PURPLE: #aa4d85;
$SCIENCE_YELLOW: #ffcc00;
$SCIENCE_BLUE: #191162;
$SWEET_RHASPODY: #00cccc;
$MERIGOLD: #fbac18;
$TORQUISE: #169bbf;
$LIGHT_TORQUISE: #a2f4f0;
$MATRIX_BLUE: #203656;
$MATRIX_GREEN: #508108;
$MATRIX_TEAL: #377d98;
$MATRIX_TEAL_HOVER: #304d58;
$MINT_GREEN: #98eb88;
$TEAL: #008080;
$TEAL_LIGHT: #00b3b3;
$TEAL_LIGHT2: #34f7c7;
$SOFT_TEAL: #d1f4e1;
$URBAN_MIST: #e3e3e3;
$VADER: #343a41;
$VADER2: #333a1f;
$WARNING: #f8ac00;
$WHITE: #fff;
$SUPERNOVA: #ffc802;
$YELLOW: #ffcf3f;
$YELLOW2: #ffca00;
$YELLOW3: #ffd500;
$LIGHT_GREEN: #c2ead8;
$CREATIVE_PURPLE: #1c0a66;
$PURPLE_GALAXY: #3c40c6;
$PURPLE_GRAY: #ececf9;
$MOBY_ORANGE: #ff9900;
$SUNSET_ORANGE: #f47b53;
$SLIDER_ORANGE: #ff6330;
$SELECTOR_ORANGE: #ff6430;
$VIOLET: #a58fff;
$ALIZRAIN_RED: #e50b59;
$ALIZRAIN_RED_DARK: #d52a4e;
$SOLAR_YELLOW: #ffca00;
$CYAN_CELL: #31f7c8;
$GREEN_PLANET: #7ed321;
$GREEN_CHECK_MARK: #5ac27e;
$CHECKMARK_GREEN: #368b24;
$DARK_SNOT: #0b592e;
$MINDARO: #cef86d;
$CITRUS: '#8dc800';
$DARK_MATTER: #454f59;
$NOVA_GRAY: #737f8b;
$GRANITE_ROCK: #8e99a7;
$DIM_LIGHT: #cad0d9;
$SILVER_DUST: #e5eaf0;
$UNICORN_WHITE: #f5f7fa;
$PINK: #aa4c84;
$WHITE: #ffffff;
$ORAGNE_LITE: #fedc83;
$SUNSET_RED: #f06a50;
$CYAN_GREEN: #3cbf95;
$MUSTARD: #ffc402;
$RUST_RED: #a13000;
$YELLOW_ORANGE: #ffb437;
$PUERTO_RICO: #44cbbd;
$MAUVELOUS: #f48fb1;
$HUMMING_BIRD: #ddf5f5;
$WIZARD_WHITE: #eaf8fe;
$LUSH_AQUA: #014568;
$SUSHI: #8bc34a;
$LILAC_BUSH: #a581d1;
$PERSIAN_RED: #d03130;
$TEAL_GREEN: #008485;
$HARVEST_GOLD: #d49203;
$MEDIUM_SKY_BLUE: #88e3e4;
$CHINESE_WHITE: #d5edd4;
$SALT: #ece8fc;
$PEAR: #91bd34;
$NAVBAR_BLUE: #137996;
$MARKETING_BLUE: #1a3659;
$NAVBAR_HOVER_BLUE: #0c5a6f;
$NAVBAR_HOVER_BLUE_2: #0f637a;
$NIGHTLY_EXPEDITION: #260d8b;
$BARNEY: #6d4dd5;
$CERULEAN: #169bbf;
$TAFFY: #d366c2;
$PALE_AMBER: #fef7e2;
$COCONUT: #fbe8d7;
$SALT: #ece8fc;
$FERN: #59c27e;
$DARK_FERN: #3da461;
$BASIL: #317149;
$PEAR: #91bd34;
$PINEAPPLE: #ffe047;
$PINEAPPLE_HOVER: #ffd400;
$MARIGOLD: #fbac18;
$WATERMELON: #ff828c;
$PUNCH: #da4f70;
$MAUVE: #86417c;
$SKY: #61c9e6;
$SHEEN_GREEN: #8cc800;
$SAPPHIRE: #19afda;
$URANIAN_BLUE: '#BDE4F9';
$SCOOTER: #3bafda;
$ROW_HOVER: #d5fcf1;
$SPANISH_PINK: #ffbdbd;
$GRANNY_SMITH_APPLE: #97e797;
$GHOST_WHITE: #f8f9fa;
$XANTHOUS: #f4b63e;
$FRESH_AIR: #b3e5fb;
$CLOWNFISH: #ff6001;
$KATYDID_GREEN: #22d101;
$PARAKEET_BLUE: #619dff;
$SEA_BUBBLE_BLUE: #cde0fe;
$BLUE_WHISPER: #ebf3ff;
$CITRINE_YELLOW: #fff2ac;
$PERSIMMON: #ffd6bd;
$MIDNIGHT_SKY: #011f6a;
$DANDELION: #feaf06;
$AUTUMN_MAPLE: #d83b07;
$BANANA_YELLOW: #fedc1c;
$FIELD_GREEN: #28a80f;
$BLUE_SEA: #0362fc;
$BLUE_JAY: #0048bd;
$NIGHT_SHADE_BLUE: #1a3659;

// FONTS
$FONT_REGULAR: ProximaNova-Regular;
$FONT_BOLD: ProximaNova-Bold;

// FONT SIZES
$FONT_SIZE_XL: 22px;
$FONT_SIZE_M: 18px;
$FONT_SIZE_S: 16px;
$FONT_SIZE_XS: 12px;

// Z-INDEX
$Z_INDEX_STICKY: 1020;
$Z_INDEX_FIXED: 1030;
$Z_INDEX_MODAL: 1040; // bootstrap value for modal is 1040
$Z_INDEX_POPOVER: 1050;
$Z_INDEX_TOOLTIP: 1070; // bootstrap value for tooltip is 1070

// SPACING
$BORDER: 2px solid #cccccc;
$BORDER_THIN: 1px solid #cccccc;
